// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '../variables';

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

// Other scss-files for the estore
@import 'wares', 'auth', 'nav', 'slider';

// General

i {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

i.category:hover, i.slider:hover {
  color: #6E6E6E;
}

body {
  background: #282828;
  color: white;
}

input {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
}

button {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
}

button.btn-success {
  background: #112F41;
  border: #112F41;
}

button.btn-success:hover {
  background: #068587;
}

a.btn {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
}

.hidden {
  display: none;
}

// Admin

div#admin form {
  width: 50%;
}

// Logo
#logo {
  color: #fff;
  text-decoration: none;
}

#logo h1 {
  margin-top: 1rem;
}

div#logo-row {
  background: #4FB99F;
  box-shadow: 0 5px 10px black;
}

div#logo-row h5 {
  color: #fff;
  margin: 1rem 0;
  background: #112F41;
  border-radius: 30px;
  padding: .5rem;
  width: 75%;
  text-align: center;
  text-decoration: none;
}

div#logo-row a {
  text-decoration: none;
}

div#logo-row h5:hover {
  background: #068587;
}

// Content
div#admin div.content {
  background: #FAFAFA;
  color: black!important;
}

div.admin-container {
  padding: 1rem;
}

// Design

  // Sliders
  img.slider-thumbnail {
    max-width: 300px;
    height: 200px;
  }

  ul#slider-images {
    width: 70%;
  }
  
  ul#slider-images i.link {
    float: right;
  }