ul.slider-list li {
  margin: .4rem 0;
  -webkit-box-shadow: 1px 1px 4px -1px #888888;
  -moz-box-shadow: 1px 1px 4px -1px #888888;
  box-shadow: 1px 1px 4px -1px #888888;
  font-size: 1.1rem;
}

ul#slider-list {
  margin-top: 1.1rem;
}